<section class="order" id="order about">
  <div class="container">
    <div>
      <div class="order__double-title double-title">
        <span class="double-title__span">Лучшая</span> итальянская пиццерия!
      </div>
      <div class="order__text-message">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus exercitationem in necessitatibus porro. Accusamus adipisci consequatur doloribus ex, illum, laudantium maiores nisi nulla porro quam quod saepe temporibus veritatis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus exercitationem in necessitatibus porro. Accusamus adipisci consequatur doloribus ex, illum, laudantium maiores nisi nulla porro quam quod saepe temporibus veritatis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus exercitationem in necessitatibus porro. Accusamus adipisci consequatur doloribus ex, illum, laudantium maiores nisi nulla porro quam quod saepe temporibus veritatis?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut doloribus exercitationem in necessitatibus porro. Accusamus adipisci consequatur doloribus ex, illum, laudantium maiores nisi nulla porro quam quod saepe temporibus veritatis?
      </div>
    </div>
    <div class="about-image">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza" class="about-image-img">
      <img src="../../../../assets/images/pizza_big.png" alt="Pizza" class="about-image-img">
    </div>
  </div>
</section>

<app-popup data="About component"></app-popup>
